/*-------------------------------- Imports ----------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Londrina+Shadow&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

/*-------------------------------- Root Variables ---------------------------*/
:root {
  --primary-color: rgb(164, 109, 206);
  --primary-light-color: rgb(196, 188, 255);
  --primary-hover-color: rgb(173, 147, 244);
  --primary-active-color: rgb(189, 147, 244);
  --accent-color: rgb(255, 214, 231);
  --accent-light-color: rgb(255, 234, 241);
  --background-color: rgb(251, 247, 254);
  --card-color: rgb(255, 255, 255);
  --border-color: rgb(181, 175, 201);
  --border-cell-color: rgba(198, 191, 219, 0.666);
  --filling-color:rgb(133, 15, 224);

  /* State */
  --success-color: rgb(179, 228, 201);
  --success-light-color: rgb(224, 246, 235);
  --error-color: rgb(249, 40, 40);
  --error-light-color: rgb(249, 207, 217);
  --row-col-color: rgba(238, 231, 250, 0.934);
  --same-Number-color: #d6c5eb;

  /* Text */
  --text-primary-color: rgb(50, 48, 70);
  --text-secondary-color: rgb(142, 138, 163);
  --text-Inverse-color: rgb(255, 255, 255);

  /* Box shadow */
  --box-shadow01: 0px 2px 8px rgba(155, 155, 155, 0.2);
  --box-shadow02: 0px 0px 10px 1.5px var(--primary-active-color);
  --box-shadow03: 0px 0 8px var(--primary-active-color);
  --box-shadow04: 0px 0px 10px var(--error-color);
}
/*-------------------------------- Global Styles ----------------------------*/
html {
  font-size: 24px;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  background-color: var(--background-color);
  font-family: "Nunito", sans-serif, serif, system-ui, "Helvetica Neue";
}
h1 {
  font-size: 24px;
}

/*-------------------------------- Layout -----------------------------------*/
header {
  display: flex;
  gap: 15px;
}

main {
  height: 80%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--card-color);
  border-radius: 15px;
  box-shadow: var(--box-shadow01);
}

/*-------------------------------- Board ------------------------------------*/
#board {
  display: flex;
  flex-direction: column;

  background-color: var(--card-color);
  box-shadow: var(--box-shadow01);
  flex-shrink: 1;
  width: min(60vmin, 600px);
  aspect-ratio: 1;
}

.row {
  display: flex;
  flex: 1;
}

.cell {
  cursor: pointer;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;

  text-align: center;
  font-weight: 600;
  font-size: 1rem;
  color: var(--filling-color);

  border: 1.5px solid var(--border-cell-color);
  transition: scale 0.2s ease-in-out;
}

.cell:active {
  transform: scale(1.08);
  background-color: var(--primary-light-color);
}

.cell.top-border {
  border-top-color: var(--border-color);
}
.cell.right-border {
  border-right-color: var(--border-color);
}
.cell.bottom-border {
  border-bottom-color: var(--border-color);
}

.cell.left-border {
  border-left-color: var(--border-color);
}

/*-------------------------------- State Styles -----------------------------*/
.cell.fixed {
  color: var(--text-primary-color);
}

.cell.selected {
  border-color: var(--primary-color);
  background-color: var(--primary-light-color);
  box-shadow: var(--box-shadow02);
  border-radius: 1px;
}

.related-cell {
  background-color: var(--row-col-color);
}
.same-Number-color {
  background-color: var(--same-Number-color);
}
/* .cell.wrongNumber {
  background-color: var(--error-light-color);
  border-color: var(--error-color);
  color: var(--error-color);
  box-shadow: var(--box-shadow03);
  border-radius: 1px;
} */
.wrongNumber{
  color: var(--error-color);
}
.conflicting-number{
  color: var(--error-color);
  background-color: var(--error-light-color);
}
.conflicting-number.fixed{
  color: var(--text-primary-color);
}

.filled {
  color: var(--filling-color);
}
/*-------------------------------- Input Panel -----------------------------*/
#game-panel {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 90%;
  max-width: 700px;
  margin: 10px 0px;
}
#game-status {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
#board-controls-container{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
#game-controls{
    background-color: rgb(249, 245, 255);
    width: 200px;
    flex-shrink: 1;
}
#input-panel {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 30px;
}
.number-btn {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--box-shadow01);
  background-color: var(--card-color);
  border-radius: 5px;
  text-align: center;
  aspect-ratio: 1;
  transition: all 0.3 ease-in-out;
  cursor: pointer;
}
.number-btn:active{
    color: rgb(119, 56, 168);
    text-shadow: var(--box-shadow03);
    box-shadow: var(--box-shadow03);
    transform: translateY(-4px);
}

/*-------------------------------- Responsive -------------------------------*/
@media (425px < width <= 768px) {
  html {
    font-size: 20px;
  }
}
@media (656px >= width) {
  #board-controls-container {
    flex-direction: column;
  }
}
@media (425px >= width) {
  html {
    font-size: 16px;
  }
}
